.content-container{
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 16px;
}
/* header */
.header-wrapper{
  width: calc(100% - 24px);
  height: 72px;
  padding: 12px;
  background-color: #121212;
  position: sticky;
  top: 0;
  z-index: 10;
}
.logo-box,
.gears-box{
  padding: 12px;
  cursor: pointer;
  user-select: none;
}
.add-box{
  cursor: pointer;
  user-select: none;
}
/* searchHeader */
.searchBtn{
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 44px;
  padding: 0 16px;
  color: #000;
  border: 0;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
}
/* searchRecent */
.btn-box{
  display: inline-flex;
  cursor: pointer;
  text-align: center;
  user-select: none;
  vertical-align: top;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
}
.recent-input-container input,
.moreArtist input{
  padding: 8px 40px;
  color: #000;
  border-radius: 6px;
  outline: none;
}
/* cardSection */
.cardSection-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.boxComponent img{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  height: 64px;
  left: calc(100% - 45px);
  right: calc(100% - 45px);
  top: 25px;
  transform: rotate(25deg);
  width: 64px;
}

/* tabBar */
.tabBar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #121212;
  z-index: 100;
}
.tabItem {
  flex: 1;
  text-align: center;
  padding: 6px 0;
  border-radius: 8px;
}
.tabItem:hover{
  background-color: #434343;
}
.tabIcon-home{
  background-image: url(../images/tab/home.svg);
}
.tabItem:hover .tabBtn .tabIcon-home{
  background-image: url(../images/tab/home_active.svg);
}
.tabIcon-search{
  background-image: url(../images/tab/search.svg);
}
.tabItem:hover .tabBtn .tabIcon-search{
  background-image: url(../images/tab/search_active.svg);
}
.tabIcon-music{
  background-image: url(../images/tab/music.svg);
}
.tabItem:hover .tabBtn .tabIcon-music{
  background-image: url(../images/tab/music_active.svg);
}
.tabIcon-premium{
  background-image: url(../images/tab/premium.svg);
}
.tabItem:hover .tabBtn .tabIcon-premium{
  background-image: url(../images/tab/premium_active.svg);
}

.tabLabel {
  color: #b3b3b3;
  font-size: 12px;
}
.tabItem:hover .tabLabel{
  color: #fff;
}

/* recommendCard-container */
.recommendCard-container{
  width: 100%;
}
.recommendCard-container .recommendCard{
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px); 
  height: 68px; 
  padding: 0;
  margin: 4px; 
  color: #000;
  background-color: #434343; 
  border: 1px solid #434343;
  color: #fff;
  cursor: pointer;
  transition: transform 0.1s ease
}
.recommendCard:hover{
  transform: scale(0.99);
  background-color: #313131;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.img-overlay {
  position: absolute; 
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.2); 
  opacity: 0;
  transition: opacity 0.1s ease; 
}
.recommendCard:hover .img-overlay {
  opacity: 0.8;
}

/* homeSection */
.homeSection{
  display: flex;
  flex-direction: column;
}
.homeSection-encoreTitle{
  font-size: 20px;
  font-weight: 700;
  width: 398px;
  margin-left: 8px;
}
.homeCard-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: -16px;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.homeCard-container::-webkit-scrollbar {
  display: none; 
}

/* homeCard */
.homeCard{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 168px;
  min-height: 198px;
  padding: 8px;
  scroll-snap-align: center;
  border-radius: 8px;
  margin-right: 1px;
  cursor: pointer;
}
.homeCard:hover{
  background-color: #1f1f1f;
}
.homeCard img{
  width: 152px;
  height: 152px;
  object-fit: cover;
  border-radius: 4px;
}
.homeCardTitle{
  color: #fff;
  max-height: 48px;
  line-height: 1;
  text-align: left;
  word-wrap: break-word;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* myPlaylist 你的音樂庫*/
.btn-items {
  padding: 4px;
  background-color: #282828;
  border-radius: 24px;
}
.btn-items:hover{
  background-color: #1DB954;
  color: #121212;
}
.btn-items p {
  padding: 2px 10px;
}
.btn-sort{
  padding: 4px;
  margin-left: 4px ;
}
.sortBox .btn-items{
  background-color: #121212;
}
.sortBox .btn-items:hover{
  color: #fff;
}
.sortBox .btn-items p{
  padding: 2px 1px;
}

/* sortDrawer */
.SortDrawer{
  position: fixed;
  bottom: -100%; /* 初始位置在視窗外 */
  left: 0;
  right: 0;
  background-color: #212121;
  transition: bottom 0.4s ease-in-out;
}
.SortDrawer.open {
  bottom: 0; 
  height: 300px;
  z-index: 100;
}

/* playlistCard */
.playlistCard{
  width: 100%;
  border-radius: 4px;
  min-height: 76px;
  cursor: pointer;
}
.likeGradient {
  background-image: linear-gradient(
    315deg,
    hsl(188deg 59% 58%) 0%,
    hsl(190deg 58% 53%) 8%,
    hsl(193deg 62% 48%) 17%,
    hsl(194deg 75% 43%) 25%,
    hsl(196deg 90% 38%) 33%,
    hsl(198deg 97% 35%) 42%,
    hsl(202deg 87% 35%) 50%,
    hsl(205deg 100% 34%) 58%,
    hsl(210deg 100% 36%) 67%,
    hsl(214deg 100% 37%) 75%,
    hsl(225deg 77% 41%) 83%,
    hsl(248deg 60% 45%) 92%,
    hsl(272deg 100% 34%) 100%
  );
}

.img-container i {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
}

/* footer */
.footer{
  background-color: rgb(18, 18, 18);
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

/* 音樂播放器 */
.music-player {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 25px 12px 0 12px;

  /* background-color: #1e1e1e;  */
}
.topArea{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.button{
  box-sizing: border-box;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}
.encore-text{
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content01{
  display: flex;
  gap: 8px;
  min-height: 100%;
  min-width: 100%;
  overflow: scroll;
  position: relative;
  scroll-snap-stop: always;
  scroll-snap-type: x mandatory;
  text-align: start;
  scrollbar-width: none;
}
.content02{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
  scroll-snap-align: start;
  flex: 0 0 100%;
}
.albumImgBox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
  scroll-snap-align: start;
  flex: 0 0 100%;
}
.albumImg{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  background-image: url(https://i.scdn.co/image/ab67616d00001e021dd61642554160edf78b0714);
}
.albumDetails{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  margin-left: 12px;
  margin-right: 12px;
}
.text-title,.text-subtitle{
  display: flex;
  white-space: nowrap;
  width: fit-content;
}
.progress-bar-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12px;
  pointer-events: all;
}
.progress-bar-container .progress-bar{
  width: 100%;
  max-width: 600px;
}
.progress-bar-container .time-bar{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  bottom: 10px;
  justify-content: space-between;
  opacity: 0.3;
  pointer-events: none;
}
.controls-bar{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.control-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px;
}
.control-btn:hover {
  color: #1db954; 
}
.shuffle-btn i,
.repeat-btn i,
.repeat-btn img{
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #fff;
}
.backward-btn i,
.forward-btn i{
  font-size: 32px;
}
.play-pause-btn i{
  font-size: 56px;
}

/* MiniPlayer */
.mini-player {
  position: fixed;
  bottom: 70px;
  left: 0;
  width: calc(100vw - 16px);
  height: 56px;
  background-color: #535353;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding: 8px;
  margin: 0 8px;
  border-radius: 16px;
  border-radius: 6px;
  z-index: 1;
}
.mini-player__btn {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 40px; 
  height: 40px; 
  padding: 8px; 
  border-radius: 50%; 
  cursor: pointer; 
}
.mini-player__btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.mini-player__btn i {
  font-size: 24px; 
}
.mini-player_slider .ant-slider{
  margin: 0px 8px;
}
.mini-player_slider .ant-slider .ant-slider-rail{
  background-color: rgba(255, 255, 255, 0.4);
  height: 2px;
}
.mini-player_slider .ant-slider .ant-slider-track {
  background-color: #1db954; 
  height: 2px; 
}
.mini-player_slider .ant-slider-handle,
.mini-player_slider .ant-slider-handle:after,
.mini-player_slider .ant-slider-handle:before,
.mini-player_slider .ant-slider-handle:hover::after,
.mini-player_slider .ant-slider-handle:focus::after,
.mini-player_slider .ant-slider:hover .ant-slider-handle::after{
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}
/* SongList */
.TypeList-container {
  position: relative;
  /* background-color: #212121; */
  /* padding: 20px; */
  border-radius: 8px;
  margin-top: 20px;
  color:#e2e2e2;
}
.TypeList-header h1 {
  color:#d7d7d7;
}
.TypeList-header p {
  font-size: 14px;
}

.song-duration {
  font-size: 14px;
  color: #888;
}
